//? Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Open+Sans&display=swap"); //montserrat

//?roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  body {
    visibility: hidden;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #e98c4c;
      background-image: -webkit-linear-gradient(
        45deg,
        rgba(77, 116, 79, 0.8) 25%,
        transparent 25%,
        transparent 50%,
        rgba(77, 116, 79, 0.8) 50%,
        rgba(77, 116, 79, 0.8) 75%,
        transparent 75%,
        transparent
      );
    }
    .App {
      $grid-80: 100%;

      $text-white: #fff;
      $text-green: #4d744f;
      $font-16px: 16px;
      $font-48px: 48px;
      $bg-green: #4d744f;
      $bg-orange: #e98c4c;
      $bg-white: #fff;
      $bg-gray: #f0f0f0;

      .cards {
        background-image: url("./assets/images/bags.png");
        background-size: 100% 100%;
        width: 100%;
        background-repeat: no-repeat;
        padding: 0 10%;
        // padding-bottom: 80px;

        .cards-header {
          text-align: center;
          display: block;
          padding-top: 88px;
          font-family: "Roboto";
          font-weight: 500;
          color: $text-white;
          font-size: 36px;
          margin-bottom: 50px;
        }
        .card-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding-bottom: 80px;

          .card {
            width: 32%;
            height: 252px;
            border-radius: 5px;
            background-color: #f1f1f1;
            padding: 35px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            .card-header {
              margin-bottom: 44px;
              font-family: "Roboto";
              color: #54535d;
              font-size: 24px;
              font-weight: 500;
              width: fit-content;
            }
            p {
              width: 70%;
              font-family: "Roboto";
              font-weight: 400;
              font-size: $font-16px;
              line-height: 24px;
            }
          }
        }
      }
      .reason-order {
        width: 100%;
        padding: 100px 15%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        aside {
          width: 49%;
        }
        .reason-description {
          .content {
            h4 {
              font-size: 36px;
              color: #4d744f;
              font-family: "Roboto";
              font-weight: 500;
              margin-bottom: 47px;
            }
            p {
              font-size: $font-16px;
              font-family: "Roboto";
              line-height: 24px;
              font-weight: 300;
              width: 100%;
              margin-bottom: 22px;
            }
            .btn-green {
              width: 186px;
              height: 36px;
              padding: 8px 18px;
              font-family: "Roboto";
              font-weight: 400;
              font-size: 17px;
              display: flex;
              align-items: center;
              white-space: nowrap;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -ms-border-radius: 5px;
              -o-border-radius: 5px;
              outline: none;
              border: none;
              background-color: $bg-green;
              color: $text-white;
              transition: all 400ms ease-in-out;
              -webkit-transition: all 400ms ease-in-out;
              -moz-transition: all 400ms ease-in-out;
              -ms-transition: all 400ms ease-in-out;
              -o-transition: all 400ms ease-in-out;
              cursor: pointer;
              &:hover {
                background-color: $bg-orange;
              }
            }
          }
        }
        .reason-btns {
          .btns-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            counter-reset: section;

            .btn {
              border: 2px solid #e98c4c;
              border-radius: 100px;
              position: relative;
              box-sizing: border-box;
              display: flex;
              box-sizing: border-box;
              align-items: center;
              width: 346px;
              height: 50px;
              position: relative;
              justify-content: center;
              margin-bottom: 35px;
              &:last-child {
                margin-bottom: 0;
              }
              // flex: 1;
              span {
                box-sizing: border-box;
                width: 48px;
                height: 48px;
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                background-color: $bg-orange;
                border-radius: 50%;
                left: 0;
                color: white;
                font-family: "Roboto";
                font-weight: 400;
                font-size: $font-16px;
              }
              p {
                font-family: "Roboto";
                color: #54535d;

                font-weight: 400;
                font-size: $font-16px;
              }
            }
          }
        }
      }
      .tracker {
        padding-top: 80px;
        height: 100vh;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        aside {
          width: 49%;
          &.img-aside {
            img {
              width: 100%;
              height: 100%;
            }
          }
          &.content-aside {
            display: flex;
            justify-content: flex-end;
            .content {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 60%;
              h4 {
                font-family: "Roboto";
                font-size: 36px;
                color: #4d744f;
                font-weight: 500;
                margin-bottom: 26px;
              }
              p {
                font-family: "Roboto";
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
              }
            }
          }
        }
      }
      .slider-section {
        background-color: #f7f7f7;
        width: 100%;
        margin-top: 100px;
        padding: 50px 0;
        h4 {
          font-family: "Roboto";
          font-size: 36px;
          color: #4d744f;
          font-weight: 500;
          text-align: center;
          margin-bottom: 65px;
        }
        .slider-container {
          width: 100%;
          padding: 0 10%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          text-align: left;
          flex-direction: column;
          .sliders {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            .slider {
              min-height: 35px;
              background-color: white;
              border-radius: 5px;
              width: 370px;
              padding: 21px 35px;
              .description-content {
                display: none;
              }
              &.active {
                height: 288px;
                .description-title {
                  margin-bottom: 20px;
                }
                .description-content {
                  font-family: "Roboto";
                  font-weight: 300;
                  font-size: 16px;
                  line-height: 24px;
                  display: block;
                }
              }
              .description-content,
              .description-title {
                color: #54535d;
              }
              .description-title {
                font-family: "Roboto";
                font-size: 16px;
                font-weight: 300;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                align-items: center;

                i {
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
          .dots {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 90px;
            height: 90px;
            .dot {
              width: 13px;
              height: 13px;
              background: #ffffff;
              transition: all 400ms ease-out;
              margin: 0 6px;
              cursor: pointer;
              border-radius: 50%;
              &:hover {
                width: 17px;
                height: 17px;

                background: #e98c4c;
              }
              &.active {
                width: 17px;
                height: 17px;

                background: #e98c4c;
              }
            }
          }
        }
      }
      .download-app {
        height: 100vh;
        width: 100%;
        padding: 0 10%;
        display: flex;
        overflow-y: hidden;
        align-items: flex-end;
        .app-store-container {
          width: 50%;
          .app-store {
            h4 {
              font-size: 36px;
              color: #4d744f;
              font-family: "Roboto";
              font-weight: 500;
              margin-bottom: 44px;
            }
            p {
              line-height: 24px;
              font-size: 16px;
              width: 60%;
              font-weight: 300;
              color: #54535d;
              margin-bottom: 155px;
            }
            button {
              width: 173px;
              height: 49px;
              border: none;
              outline: none;
              margin-bottom: 175px;
              img {
                cursor: pointer;
                border-radius: 5px;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .iphone-img {
          width: 50%;
          display: flex;
          justify-content: flex-end;
          .img-container {
            display: flex;
            align-items: stretch;
          }
        }
      }
      .footer {
        height: 171px;
        background-color: $bg-green;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
        padding-top: 42px;

        color: white;
        .logo {
          flex: 1;

          h3 {
            font-size: 30px;
            font-weight: 500;
            font-family: "Montserrat";
          }
        }
        h5 {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 18px;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          font-weight: 300;
          font-family: "Roboto";
          line-height: 24px;
        }
        .contact {
          flex: 1;
          display: flex;
          justify-content: space-between;
        }
        .social-media {
          flex: 1;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          justify-content: flex-start;
          .link {
            display: flex;
            justify-content: space-between;
            width: 80%;
          }
        }
      }
    }
  }
}
