.map-section {
  $grid-80: 100%;

  $text-white: #fff;
  $text-green: #4d744f;
  $font-16px: 16px;
  $font-48px: 48px;
  $bg-green: #4d744f;
  $bg-orange: #e98c4c;
  $bg-white: #fff;
  $bg-gray: #f0f0f0;

  display: flex;
  align-items: center;
  width: $grid-80;
  padding: 150px 10%;
  justify-content: space-between;
  .map-config {
    width: 49%;
    h4 {
      font-size: 36px;
      font-family: "Roboto";
      font-weight: 500;
      color: #4d744f;
      margin-bottom: 18px;
    }
    p {
      font-size: $font-16px;
      width: 40%;
      line-height: 24px;
      font-family: "Roboto";
      font-weight: 300;
      margin-bottom: 20px;
    }
    .locations,
    .hour {
      background-color: $bg-gray;
      border-radius: 5px;
      width: fit-content;
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 0 3px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      button {
        width: 130px;
        height: 51px;
        cursor: pointer;
        margin: 2px 0;
        outline: none;
        border: none;
        border-radius: 5px;
        color: #a9aab2;
        font-size: 16px;
        font-family: "Roboto";
        font-weight: 400;
        transition: all 400ms ease;
        &.active {
          background-color: white;
          box-shadow: 0px 2px 4px #dfdfdf;
          color: #4d744f;
        }
      }
      .secret {
        color: white;
        position: absolute;
        background-color: white;
        padding: 1px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 530ms ease-out;

        width: 130px;
        height: 51px;
        margin: 2px 0;
        outline: none;
        border: none;
        border-radius: 5px;
        border-radius: 5px;
        box-shadow: 0px 2px 4px #dfdfdf;
      }
      .secret.active-0 {
        left: calc(0% + 3px);

        color: #4d744f;
        background-color: #fff;
      }
      .secret.active-1 {
        left: calc(33% + 3px);

        color: #4d744f;
        background-color: #fff;
      }
      .secret.active-2 {
        left: calc(66% - 3px);

        color: #4d744f;
        background-color: #fff;
      }
    }
    .locations {
      margin-bottom: 35px;
    }
  }
  aside.map-container {
    display: flex;
    align-items: center;
    .map-img {
      width: 670px;
      height: 313px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media only screen and (max-width: 768px) and (min-width: 280px) {
  .map-section {
    box-sizing: border-box;
    flex-direction: column;
    padding: 80px 0px;
    .map-config {
      width: 100%;
      padding: 0 20px;
      h4 {
        font-size: 24px;
        color: #54535e;
      }
      p {
        width: 100%;
        line-height: 20.8px;
      }
      .locations {
        width: 100%;
        button {
          font-size: 13px;
          width: calc(100% / 3);
        }
        .secret {
          font-size: 14px;
          width: calc(100% / 3);
        }
      }
      .hour {
        width: 100%;
        button {
          font-size: 13px;
          width: calc(100% / 3);
        }
        .secret {
          font-size: 14px;
          width: calc(100% / 3);
        }
        margin-bottom: 40px;
      }
    }
    aside.map-container {
      .map-img {
        width: 100%;
      }
    }
  }
}
